# Parameters for StrategyManager object
strat_manager_instance :
  strat_name: example_function # name of strategy 
  underlying: example_coin # code of the underlying e.g BTCUSD 
  frequency: 5 # frequency in seconds e.g for daily => 86400 seconds
# Parameters for DataRequest object
get_data_instance :
  url_exchange : url_example_exchange
  kind_request : ticker_example
  assets : 
    - example
  ohlcv : ohlcv
  frequency : 60
  n_min_obs : 1
  args_params: # optional
    - bidule
  kwargs_params: # optional
    time_exec: 0
# Parameters for the strategy function
strategy_instance :
  args_params : # optional
    - para1
  kwargs_params : # optional
    para2 : 0
# Parameters for set pre_order
pre_order_instance :
  iso_volatility: True
  leverage: 1
# Parameters for SetOrder object
order_instance : 
  volume: 0
  exchange: url_example_exchange
  kind_order: limit_only
  args_params: # optional
    - ex1
  kwargs_params: # optional
    ex2: 0