# Files to ignore
id_timestamp
path_log_file.txt

# Extensions to ignore
*.so
*.html
*.ipynb_checkpoints
*.log
*.dat

# Folders to ignore
*.egg-info/
env/
build/
__pycache__/
.pytest_cache/
strategies/
errors/
dev_test/
old_scripts/
deprecated*